@model IEnumerable<Plant_Management_App.Models.SupplyPurchase>

@{
    ViewData["Title"] = "Index";
}
<br />
<h1 class="mt-5">Supply Purchases List</h1>

<p>
    <a class="btn btn-success" asp-action="Create">New Supply Purchase</a>
</p>
<div class="table-responsive">
    <table class="table table-bordered table-light table-striped m-auto custom-table text-dark">
        <thead>
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Supply)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PurchaseDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalCost)
                </th>                
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.PurchaseID">Edit</a> |
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.PurchaseID">Details</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.PurchaseID">Delete</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supply.SupplyID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalCost)
                </td>                
            </tr>
    }
        </tbody>
    </table>
</div>